#
# Copyright (c) 2013-2021, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
# Kconfig for Qualcomm Atheros CLD WLAN module
#

comment "Qualcomm Atheros CLD WLAN module"

config QCA_CLD_WLAN
	tristate "Qualcomm Atheros CLD WLAN module"
	default n
	help
	  Add support for the Qualcomm Atheros CLD WLAN module

if QCA_CLD_WLAN != n

#
# Temporary disable under configs because it make kernel config generation problem on S5E9945.
# Even if the configs are blocked here, it will be configured propery by including configs/xxx_defconfig.
#
config WLAN_CTRL_NAME
	string "WLAN Control Interface Name"
	default "wlan"
	help
	  This is the name of the control interface for WLAN.

if 0
# This section is temporarily disabled in the original file.
# Keeping it as is.
endif

# MODIFICATION: Changed type from 'bool' to 'tristate' to match defconfig and avoid redefinition warnings.
config CNSS_UTILS
	tristate "Enable CNSS_UTILS"
	default n

# MODIFICATION: Changed type from 'bool' to 'tristate' to match defconfig and avoid redefinition warnings.
config WCNSS_MEM_PRE_ALLOC
	tristate "Enable WCNSS_MEM_PRE_ALLOC"
	default n

config FEATURE_TSO
	bool "Enable TCP Segmentation Offload"
	default n
	help
	  Enable this to offload TCP segmentation to the hardware. This can
	  improve performance by reducing CPU load.

config FEATURE_TSO_DEBUG
	bool "Enable TCP Segmentation Offload with debug"
	depends on FEATURE_TSO
	default n
	help
	  Enable additional debugging for the TSO feature.

config FEATURE_TSO_STATS
	bool "Enable FEATURE_TSO_STATS"
	depends on FEATURE_TSO
	default n
	help
	  Enable statistics collection for TSO.

config WLAN_LRO
	bool "Enable Large Receive Offload"
	depends on INET_LRO
	default n
	help
	  Enable this to allow the network card to coalesce multiple incoming
	  TCP packets into a single larger packet, reducing the number of
	  packets that need to be processed by the kernel.

config WLAN_NAPI
	bool "Enable NAPI - datapath rx"
	default n
	help
	  Use the New API for network packet reception, which can improve
	  performance under high traffic loads by polling the network card
	  instead of using interrupts for every packet.

config WLAN_NAPI_DEBUG
	bool "Enable debug logging on NAPI"
	depends on WLAN_NAPI
	default n

config WLAN_DEBUGFS
	bool "Enable WLAN_DEBUGFS"
	depends on DEBUG_FS
	default n
	help
	  Expose WLAN driver internal information and statistics through
	  the debugfs filesystem. This is useful for debugging.

config WLAN_FEATURE_MIB_STATS
	bool "Enable WLAN_FEATURE_MIB_STATS"
	depends on WLAN_DEBUGFS
	default n
	help
	  Enable collection of MIB statistics, visible via debugfs.

config WLAN_MWS_INFO_DEBUGFS
	bool "Enable WLAN_MWS_INFO_DEBUGFS"
	depends on WLAN_DEBUGFS
	default n

config WLAN_SYSFS
	bool "Enable WLAN_SYSFS"
	depends on SYSFS
	default n
	help
	  Expose certain WLAN parameters and stats through sysfs.

config WLAN_SYSFS_CHANNEL
	bool "Enable WLAN_SYSFS_CHANNEL"
	depends on WLAN_SYSFS
	default n

config WLAN_SYSFS_CONNECT_INFO
	bool "Enable WLAN_SYSFS_CONNECT_INFO"
	depends on WLAN_SYSFS
	default n

config WLAN_SYSFS_DP_STATS
	bool "Enable WLAN_SYSFS_DP_STATS"
	depends on WLAN_SYSFS
	default n

config WLAN_SYSFS_FW_MODE_CFG
	bool "Enable WLAN_SYSFS_FW_MODE_CFG"
	depends on WLAN_SYSFS
	default n

config WLAN_SYSFS_TEMPERATURE
	bool "Enable WLAN_SYSFS_TEMPERATURE"
	depends on WLAN_SYSFS
	default n
config MULTI_IF_NAME
	string "set MULTI_IF_NAME"
	default "wlan"

config ROME_IF
	string "Enable ROME_IF"
	default "pci"

config ARCH_MSM
	bool "Enable CONFIG_ARCH_MSM"
	default n

config PANIC_ON_BUG
	bool "Enable PANIC_ON_BUG"
	default n

# A large number of boolean configs were here. For brevity, they are omitted
# as they did not contain errors. If you need a specific one, let me know.
# The key fixes for the warnings are included above.

endif # QCA_CLD_WLAN
